#navBar {
  margin: 50px;
  font-size: medium;
}

.link-info {
  font-size: large;
  color: black;
}

.aboutMe {
  display: flex;
  flex-wrap: wrap;

  border: white;
  height: 100vh;
  width: 50vw;
  padding: 15px;
}

.ksfooter {
  margin: 50px;
  background-color: white;
}
