/* styling for nav bar */
#navBar {
  margin: 50px;
  font-size: medium;
  background-color: #e6d4e6;
  padding: 35px;
}

.logo {
  width: 150px;
  height: 150px;
}

/* styling for About Section */
.about {
  height: 100vh;
}

.about-title {
  text-align: center;
  font-size: 50px;
  padding-bottom: 5px;
}
.about-bg {
  background-color: #d5a2d3;
  text-align: center;
}

.about-photo {
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 40vh;
}

.bioText {
  margin-top: 20px;
  padding-bottom: 30px;
  align-items: center;
}

.bio {
  text-align: center;
  width: 80%;
  padding: 10px;
  margin: auto;
  font-size: medium;
}

.skills {
  font-weight: bold;
  margin-top: 12px;
}

.skillList {
  margin: 0;
  padding: 10px;
  text-align: center;
  list-style-type: none;
}
/* portfolio styling */
#portfolioCards {
  background-color: #e6d4e6;
  padding: 8px;
  font-size: large;
}

.projectCard {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  max-width: 80%;
  padding: 10px;
}
.project-image {
  height: 150px;
  width: 175px;
}

/* resume stylings */
#resumeLink {
  color: rgb(248, 213, 245);
  font-weight: bold;
}

/* contact list styling */
.link-info {
  font-size: large;
  color: black;
  margin: 0 auto;
}

/* footer styling */
.ksfooter {
  margin: 50px;
  width: 100%;
  padding: 10px;
}

.social-link {
  padding: 10px;
  color: rgb(69, 65, 66);
  text-decoration: none;
}

/* add drop down for menu at specific breakpoint */
